<div id='page_title'>
  <h1>List of Stacks</h1>
</div>

<% if !@user.stack_id and @user.stacker? %>
  <p>
    <%= link_to 'Create a Stack', new_stack_path %>
    or choose from existing ones.
  </p>
<% end %>

<table>
  <% @stacks.each do |stack| %>
    <tr>
      <td><%= stack.name %></td>
      <td><%= link_to 'See Details', show_stack_path(stack) %></td>
      <% if @user.admin? %>
        <td><%= link_to 'Delete this Stack',
                delete_stack_path(stack),
                method: :delete %></td>
      <% end %>          
    <tr>
  <% end %>
</table>
<%= render 'shared/tail' %>
