<div id='page_title'>
  <h1>Create a Stack</h1>
</div>

<p>
  Creating a stack will make you one of its Stackers.
</p>

<%= render 'shared/errors', container: @stack %>
<%= form_for @stack, url: create_stack_path do |f| %>
  <p>
    Stack Name:
    <%= f.text_field :name %>
  </p>
  <p>
    Description:
    <%= f.text_area :description %>
  </p>
  <p>
    <%= f.submit 'Create Stack' %>
    </p>
<% end %>

<%= link_to 'Cancel', stacks_path %>
