<div id='page_title'>
  <h1>Stack Details</h1>
</div>
<%= render 'shared/stack_info' %>
<% if @user.belongs_to_stack?(@stack.id) %>
  <% if @user.stacker? %>
    <%= link_to 'Edit this Stack', edit_stack_path(@stack) %>
    <%= link_to 'See the Clue Tree', clue_tree_path(@stack) %>
  <% elsif @user.stackee? %>
    TODO: Link to see clues
  <% end %>
  <%= link_to 'Leave this Stack', leave_stack_path(@stack) %>
<% elsif !@user.stack_id %>
  <%= link_to 'Join this Stack', join_stack_path(@stack) %>
  <%= link_to 'Return to List of Stacks', stacks_path %>
<% end %>  
<%= render 'shared/tail' %>
