<%= render 'show_common' %>
<% if current_user == @user %>
  <p>
    <%= link_to 'Create a Stack', new_stack_path %> or 
    todo: Join a Stack  
  </p>
<% end %>
<% if current_user.admin? && current_user != @user%>
  <%= link_to 'Delete this User',
      delete_user_path(@user),
      method: :delete %><br>
  <%= link_to 'Make this User an Admin',
      make_admin_path(@user) %><br>
<% end %>
<%= render 'show_tail' %>
