<%= render 'show_header' %>
<% if @user.stack_id %>
  <p>
    Your stack's name is: <%= link_to @stack.name,
      show_stack_path(@stack) %>
  </p>
<% else %>
  <%= link_to 'Join a Stack!', stacks_path %>
<% end %>
<% if current_user.admin? && current_user != @user%>
  <p>Admin Actions:</p>  
  <%= link_to 'Delete this User',
      delete_user_path(@user),
      method: :delete %><br>
  <%= link_to 'Make this User an Admin',
      make_admin_path(@user) %><br>
<% end %>
<%= render 'show_tail' %>
