<!DOCTYPE html>
<html>
  <head>
    <title>TomorrowTracker</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div id="user_nav">
      <% if current_user %>
        Logged in as <%= current_user.username %>
        <%= link_to 'Logout', logout_session_path, method: :delete %>
        <% if current_user.admin? %>
          <%= link_to 'Users Index', users_path %>
          <%= link_to 'Stacks Index', stacks_path %>
        <% end %>
      <% else %>
        Welcome, Guest
        <%= link_to 'Login', login_session_path %>
      <% end %>
    </div>
    <%= yield %>
  </body>
</html>
