<%= form_for :clue do |f| %>
  <%= f.hidden_field :stack_id, value: @stack.id %>  
  <p>
    Title:
    <%= f.text_field :title %>
  </p>
  <p>
    Content:
    <%= f.text_area :content %>
  </p>
  <p>
    <%= f.submit button_msg %>
  </p>
<% end %>
