<div id='page_title'>
  <h1>Create a New Clue</h1>
</div>

<%= form_for @clue do |f| %>
  <p>
    Title:
    <%= f.text_field :title %>
  </p>
  <p>
    Content:
    <%= f.text_area :content %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Cancel', view_tree_path(@stack) %>
