<div id='page_title'>
  <h1>Clue Details</h1>
</div>

<p>
  <%= @clue.title %>
</p>

<p>
  <%= @clue.content %>
</p>

<% if @clue.previous_clues.size > 0 %>
  <p>
    Preceded by:<br>
    <% @clue.previous_clues.each do |previous_clue| %>
      <%= link_to previous_clue.title, show_clue_path(stack_id: @stack, id: previous_clue) %><br>
    <% end %>
  </p>
<% end %>

<% if @clue.next_clues.size > 0 %>
  <p>  
    Leads to:<br>
    <% @clue.solutions.each do |solution| %>
      <%= link_to solution.next_clue.title, show_clue_path(stack_id: @stack, id: solution.next_clue) %>
      <%= link_to 'Edit/Delete this solution',
          edit_solution_path(stack_id: @stack, clue_id: @clue, id: solution) %>
      <br>
    <% end %>
  </p>
<% end %>

<p>
  This clue is currently assigned to:<br>
  <% @in_progress.each do |stackee| %>
    <%= stackee.name %> (<%= stackee.username %>)<br>
  <% end %>
</p>
<p>
  This clue has been completed by:<br>
  <% @completed.each do |stackee| %>
    <%= stackee.name %> (<%= stackee.username %>)<br>
  <% end %>
</p>

<%= link_to 'Edit this clue', edit_clue_path(stack_id: @stack, id: @clue) %>
<%= link_to 'Add a solution to this clue', new_solution_path(clue_id: @clue) %>
<%= link_to 'Delete this clue',
    delete_clue_path(stack_id: @stack, id: @clue),
    method: :delete %>
<%= link_to 'Return to Clue List', clue_tree_path(@stack) %>
